<template>
  <div class="Bowling">
    <h1>{{ msg }}</h1>
    <div id="fieldMatrix">
      <pre>{{fieldMatrixContent}}</pre>
    </div>
  </div>
</template>

<script>




export default {
  name: 'BowlingField',
  props: {
    msg: String,
    field: String   
  },
  data : function () {
    let pin = "I";
    let ball = "o";
    return {
     pin : "I",
     ball : "o",
    gameFieldMatrix :
    [
      {type: "foul",  fields: [false, false, false, false, false]},
      {type: "field", fields: [false, false, false, false, pin  ]},
      {type: "field", fields: [false, false, false, pin  , false]},
      {type: "field", fields: [false, false, pin  , false, pin  ]},
      {type: "field", fields: [ball , pin , false,  pin  , false]},
      {type: "field", fields: [false, false, pin  , false, pin  ]},
      {type: "field", fields: [false, false, false, pin  , false]},
      {type: "field", fields: [false, false, false, false, pin  ]},
      {type: "foul",  fields: [false, false, false, false, false]}        
    ]
    }
  },
  methods : {
    getRenderedFieldMatrix: function() {
        let fieldMatrixHTML = "##################################################\r\n"; 
      
      this.gameFieldMatrix.forEach(function (line) {
        function renderField(field) {
          if(field == false) {
            return " ";
          }
          if(field != false) {
            return field;
          }
        }
        fieldMatrixHTML += "|";      
        fieldMatrixHTML += renderField(line.fields[0]);
        
        if(line.type == "foul") {
          fieldMatrixHTML += "............................................";
        } else if (line.type == "field") {
          fieldMatrixHTML += "                                            ";
        }

        fieldMatrixHTML += renderField(line.fields[1]);
        fieldMatrixHTML += renderField(line.fields[2]);
        fieldMatrixHTML += renderField(line.fields[3]);
        fieldMatrixHTML += renderField(line.fields[4]);
        //fieldMatrixHTML += renderField(line.fields[5]);
        fieldMatrixHTML += "|\r\n";
      });
      fieldMatrixHTML += "##################################################\r\n";
      return fieldMatrixHTML
    }

  }, 
  created : function () {    
    this.fieldMatrixContent = this.getRenderedFieldMatrix();    
  },
  computed: {
    fieldMatrixContent: {
      get() { return this.getRenderedFieldMatrix()},
      set(val) { this.$emit('update:field', val)}
   }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
