<template>
  <div id="app">    
    <BowlingField msg="Welcome to our Bowling Game" fieldMatrixContent="...loading.."/>
  </div>
</template>

<script>
import BowlingField from './components/BowlingField.vue'

export default {
  name: 'App',
  components: {
    BowlingField
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
